html {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  background-color: #f9fafb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 0.375rem;
}

body {
  margin: 0;
  padding: 0;
  overflow: overlay;
  text-align: start;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4bab58;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 650px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 330px) {
  html {
    font-size: 9px;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-spacing: 1px;
  margin: 0;
}
